<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product Category</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <span>
                      <img src="img/product/rice.ico"/>
                      </span>
                </span>
                    <h4 class="service-heading">RICE</h4>
                    <p class="text-muted">அரிசி</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">

                        <span>
                      <img src="img/product/brice.ico"/>
                        </span>

                    </span>
                    <h4 class="service-heading">BROKEN RICE</h4>
                    <p class="text-muted">குருணை அரிசி</p>
                </div>
                <div class="col-md-4">
                  <span class="fa-stack fa-4x">

                      <span>
                    <img src="img/product/dosa.ico"/>
                      </span>

                  </span>
                    <h4 class="service-heading">IDLI /DOSA BATTER</h4>
                    <p class="text-muted">மாவு</p>
                </div>
            </div>
        </div>
    </section>
